<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    <!-- navbar starts  -->
  {{>navbar}}
    <!-- navbar ends  -->


    <!-- main header starts -->
<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!-- left side div  -->
                <div class="col-md-6 col-12 main_header_right align-items-center">
                    <figure>
                        <img src="images/human.jpg" alt="yashmin" class="img-fluid" title="yashmin">
                    </figure>
                 </div>
                <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to weather app</p>
                    <h1>I am a <span class="text_clr">Web Developer</span> studying in Thapar University</h1>
                    <a href="#"><button>About me</button></a>

                </div>
                <!-- right side div  -->
                

            </div>

        </div>
    </div>
</div>





    <!-- main header ends -->
   {{>footer}}
</body>

</html>